@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Cuprum:ital,wght@1,500&family=Indie+Flower&family=Lobster&family=Roboto:ital,wght@1,300&display=swap');

/* //EEECDA rgb(238, 236, 218)
//F08A5D rgb(240, 138, 93)
//B83B5E rgb(184, 59, 94)
//6A2C70 rgb(106, 44, 112) */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  color:#6A2C70
}

